.news {
    margin-bottom: 44px;
}

.comments {
    max-width: 825px;
    width: 100%;
}

.news__h {
    font-family: 'RB', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #686868;
    margin-bottom: 22px;
}

.comment__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.comment__p {
    padding: 15px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'RR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #545454;
}

.news__wrap {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.serv-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.serv-card {
    padding:17px 15px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 255px;
    width: 100%;

}

.serv-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.serv-h {
    font-family: 'RR', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;


}
.serv-p{
    font-family: 'RL',sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 13px;
    color: #000000;

     
}